.navbar-dark {
  a.navbar-brand {
    &:before, &:after, &:visited, &:link {
      color: $color-yellow;
    }

    color: $color-yellow;

    &:hover {
      color: darken($color-yellow, 15%);
    }
  }
}
